.modal-button {
  display: flex;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #FFD700
  ;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.header-home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(255, 177, 8, 0),#FFD700);
  padding: 5px 15px 5px 15px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
